<configuration>
    <packageSources>
        <add key="DanskeNugetArtifactory" value="http://artifactory.danskenet.net/artifactory/api/nuget/joined-nuget-buildfeed" />
        <add key="Artifactory-NuGetAllLocal" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/joined-nuget-local" />
        <add key="Artifactory-NuGetRemote" value="https://artifactory.danskenet.net/artifactory/api/nuget/v3/remote-nuget-nuget.org-v3" />
    </packageSources>  
</configuration>