<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- We will be restoring the packages for the local infrastructure inside Docker containers.
         Hence, since the sources is on-premise inside the local network, we can tolerate the use of
         insecure/non-ssl/http protocol to avoid any certificate issues. -->
    <add key="Artifactory-NuGetRemote-NonSSL" value="http://artifactory.danskenet.net/artifactory/api/nuget/v3/remote-nuget-nuget.org-v3" protocolVersion="3" allowInsecureConnections="true" />
    <add key="Artifactory-NuGetAllLocal-NonSSL" value="http://artifactory.danskenet.net/artifactory/api/nuget/v3/joined-nuget-local" protocolVersion="3" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Artifactory-NuGetRemote-NonSSL">
      <!-- On-premise mirror of the official nuget.org package repo - used for all generic packages: https://artifactory.danskenet.net/ui/repos/tree/General/remote-nuget-nuget.org-v3-->
      <package pattern="*" />
    </packageSource>
    <packageSource key="Artifactory-NuGetAllLocal-NonSSL">
      <!-- On-premise only repo containing local inhouse packages: https://artifactory.danskenet.net/ui/repos/tree/General/joined-nuget-local-->
      <package pattern="Danske.*" />
      <package pattern="DanskeBank.*" />
      <package pattern="DB.*" />
    </packageSource>
  </packageSourceMapping>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
</configuration>
